*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Rubic", sans-serif;
  color:#fff;
}

body{
  width:100vw;
  background-color:#040714;
  overflow-x:hidden;
}

a{
  text-decoration:none;
}